<!-- Source: https://github.com/abhinavs/moonwalk -->
<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.card_title }}

          {% if item.lang %}
            <span class="course-lang">
              {% case item.lang %}
                {% when "ru" %}
                  RU
                {% when "en" %}
                  EN
                {% else %}
                  ??
              {% endcase %}
            </span>
          {% endif %}

          <hr />
        </span>

        {% if item.title != false %}
        <p class="body">
          {{ item.title }}
        </p>
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>

